In [1]:
print("Hello Python")

Hello Python

In [2]:
1+1

2

In [3]:
print("Shift + Enter")

Shift + Enter

In [4]:
"Alt + Enter"

'Alt + Enter'

In [5]:
"Shift + Enter"

'Shift + Enter'

In [6]:
1+1

2

In [7]:
2+3

5

In [8]:
s+e

NameError: name 's' is not defined

In [9]:
's+e'

's+e'

In [10]:
"alt+enter"

'alt+enter'

In [11]:
1+1

2

In [1]:
2 * 2

4

In [2]:
1/8

0.125

In [4]:
2 ** 3

8

In [3]:
1.0/8.0

0.125

In [5]:
2**4

16

In [6]:
20 % 8

4

In [9]:
Address="Santa Clara"

In [13]:
Address

'Santa Clara'

In [14]:
'You r a "Jerk"'

'You r a "Jerk"'

In [15]:
Name='Rohit Jain'

In [16]:
print('My Name is '+Name)

My Name is Rohit Jain

In [17]:
print('My Name is {}'.format(Name))

My Name is Rohit Jain

In [18]:
print("My Name is {one} and Address is {two}".format(one=Name,two=Address))

My Name is Rohit Jain and Address is Santa Clara

In [20]:
s="Prometheus"

In [21]:
s

'Prometheus'

In [22]:
s[0:3]

'Pro'

In [23]:
s[0:]

'Prometheus'

In [24]:
s[:3]

'Pro'

In [25]:
[1,2,5,3,4]

[1, 2, 5, 3, 4]

In [26]:
my_list=['Ram','lucky','Sweety','Tom']

In [27]:
my_list

['Ram', 'lucky', 'Sweety', 'Tom']

In [28]:
print(my_list)

['Ram', 'lucky', 'Sweety', 'Tom']

In [29]:
my_list[1:3]

['lucky', 'Sweety']

In [31]:
nest=[1,2,[3,4]]

In [32]:
nest

[1, 2, [3, 4]]

In [35]:
nest[1:1]

[]

In [36]:
nest[2][1]

4

In [37]:
print(nest[2][1])

4

In [38]:
dict={'k1':{'k11':[1,2,3]}}

In [39]:
dict

{'k1': {'k11': [1, 2, 3]}}

In [42]:
dict['k1']['k11'][1]

2

In [43]:
t=(1,2,4,5,6)

In [44]:
t

(1, 2, 4, 5, 6)

In [47]:
t[1]

2

In [49]:
my_list[0]='New'

In [50]:
my_list

['New', 'lucky', 'Sweety', 'Tom']

In [51]:
{1,2,2,2,4,4,4,4,5,6,66}

{1, 2, 4, 5, 6, 66}

In [77]:
set({1,2,2,2,3,3,4,4,4,5,5})

{1, 2, 3, 4, 5}

In [54]:
set.add(6)

TypeError: descriptor 'add' requires a 'set' object but received a 'int'

In [55]:
s={1,2,3,6,4}

In [56]:
s.add(5)

In [57]:
s

{1, 2, 3, 4, 5, 6}

In [58]:
s.add(6)

In [59]:
"Ram" == "Ram"

True

In [63]:
if 3%2==0:
    print('Number is Even')
else:
    print("Number is Odd")

Number is Odd

In [76]:
array=[2,0,6,5,7,8]
x=y=0
for num in array:
    if num%2==0:
        x=x+1;
    else:
        y=y+1;
print("Even numbers are {}".format(x));
print("Odd numbers are {}".format(y));

Even numbers are 4
Odd numbers are 2

In [78]:
i=1

In [81]:
while i<10:
    print("Value of i is {}".format(i));
    i=i+1;

Value of i is 1
Value of i is 2
Value of i is 3
Value of i is 4
Value of i is 5
Value of i is 6
Value of i is 7
Value of i is 8
Value of i is 9

In [82]:
range(0,9)

range(0, 9)

In [86]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
list1=[1,2,3,4,5]

In [4]:
list1

[1, 2, 3, 4, 5]

In [6]:
list2=[]
for num in list1:
    list2.append(num**3)

In [8]:
print(list2)

[1, 8, 27, 64, 125]

In [29]:
list3=[num**2 for num in list1] #List Comprehension

In [13]:
print(list3)

[1, 4, 9, 16, 25]

In [24]:
def my_func(name="Jupyter Notebook"):
    #This is the comment test
    """
    THIS IS DOC STRING
    HERE WE ARE GREETING THE PERSON WITH THE NAME THEY PROVIDE
    """
    print("Hello ! "+name)

In [25]:
my_func()

Hello ! Jupyter Notebook

In [21]:
my_func(name="Python")

Hello ! Python

In [23]:
my_func

In [26]:
seq=[1,2,3,4,5]

In [27]:
out=[num*2 for num in seq]

In [28]:
out

[2, 4, 6, 8, 10]

In [30]:
def square(num):
    return num*num

In [31]:
t=(2,3,4,5)

In [35]:
tuple(map(square,t))

(4, 9, 16, 25)

# LAMBDA CREATION

In [38]:
tuple(map(lambda num : num*num, t))

(4, 9, 16, 25)

# This is Lambda with conditional statement

In [37]:
tuple(map(lambda num:num%2==0,t))

(True, False, True, False)

# Filter function

In [39]:
tuple(filter(lambda num:num%2==0,t))

(2, 4)

In [54]:
s="Hello this is Jupyter Notebook"

In [ ]:
s.startswith

In [46]:
s.split('o',3)

['Hell', ' this is Jupyter N', 'teb', 'ok']

In [48]:
1 in [1,2,4,5,6,7]

True

In [49]:
x=[(1,2),(3,4),(5,6)]

In [51]:
x

[(1, 2), (3, 4), (5, 6)]

In [52]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [53]:
for (a,b) in x:
    print(b)

2
4
6

In [4]:
for i in range(1,6):
    print(i,end="")

12345

In [1]:
def card_expiry(date):
    date.split('/')
    if(date[1]==25):
        print
        return True
    else:
        return False

In [3]:
card_expiry('20/25')

False

In [4]:
'20/25'.split('/')

['20', '25']

In [5]:
date='20/25'

In [10]:
date.split('/')[1]

'25'

In [9]:
date

'20/25'